body {
    font-family: "Open Sans", Arial, sans-serif;
}

.price {
    background-color: #EE8129;
    border-radius: 4px;
    box-shadow: 1px 0 3px 3px rgba(0, 0, 0, .1);
    color: white;
    width: 220px;
    height: 370px;
    margin-bottom: 20px;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 700;
}

.price-name {
    background-color: white;
    height: 308px;
    width: 214px;
    margin: -333px 3px 3px 3px;
    padding-top: 1px;
}

div p {
    text-transform: uppercase;
    text-align: center;
}

.price-name-value {
    font-size: 56px;
    font-weight: 700;
    margin: 0;
}

sup, sub {
    font-size: 13px;
    font-weight: bold;
    text-transform: none;
}

sup {
    vertical-align: top;
}