.red, .green, .blue {
    border-radius: 7px;
    padding: 2px 10px;
    margin: 2px;
    font-family: Arial;
    font-weight: 600;
    font-size: 18px;
    color: white;
}
.red {
    background-color: #FF0000;
}

.green {
    background-color: #008100;
}

.blue {
    background-color: #0000FF;
}
label[for="red"],
label[for="green"],
label[for="blue"] {
    text-decoration: underline;
    padding: 0 20px;
    font-family: Arial;
    font-weight: 600;
    font-size: 18px;
}
label[for="red"] {
    color: #FF0000;
}

label[for="green"] {
    color: #008100;
}

label[for="blue"] {
    color: #0000FF;
}