h1 {
    text-align: right;
    color: orange;
}
p:first-letter {
    color: red;
    font-size: 30px;
    font-weight: bold;
}
p em {
    background-color: green;
    color: white;
}
h2 {
    color: orange;
}
h2 ~ h2 {
    color: blue;
}
span {
    font-weight: bold;
}
ol > li {
    color: red;
}
.fruit-ogorod {
    color: gray;
}
.fruit-sklad {
    color: green;
}
