nav ul {
    list-style-type: none;
}

li:last-child {
    float: right;
}

nav li {
    display: inline;
}

ul {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}

ul.menu {
    padding: 0px 0px 0px 47px;
}

nav {
    background-color: #A64DFF;
}

.menu li a {
    padding: 5px 11px;
    line-height: 31px;
    text-decoration: none;
    color: #F1F4FE;
}

.menu li a:hover {
    background-color: #EEEEEE;
    color: #9FA0A1;
    box-shadow: 0 0 3px #b6b6b6;
}
