:root {
    --bluezodiac-text-color: #40465D;
    --lightblue-border-color: #818FB2;
}

.card {
    width: 20%;
    margin: 1rem;
}

.card img {
    width: 100%;
}

.card__profile {
    color: var(--bluezodiac-text-color);
    text-decoration: none;
    font-size: 0.8rem;
    text-align: center;
}

.card__profile_title {
    font-weight: 600;
}

.card__profile_content {
    letter-spacing: 0.25em;
}

.card__photo figcaption {
    border-bottom: 1px solid var(--lightblue-border-color);
    border-radius: 50px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}